
<html>
<head>
    <title>Title</title>
    <link rel="stylesheet" href="/layui/css/layui.css"  media="all">
    <script type="text/javascript" src="/easyui/jquery-3.4.0.js"></script>
    <script src="/layui/layui.js" charset="utf-8"></script>
</head>
<body>
<form class="layui-form" action="">

    <div class="layui-form-item">
        <label class="layui-form-label">用户名称</label>
        <div class="layui-input-inline">
            <input type="text" name="uname" required lay-verify="required" placeholder="请输入比赛名称" autocomplete="off" class="layui-input">
        </div>

    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">用户密码</label>
        <div class="layui-input-inline">
            <input type="text" name="password" required lay-verify="required" placeholder="请输入比赛时间" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">用户性别</label>
        <div class="layui-input-inline">
            <input type="text" name="sex" required lay-verify="required" placeholder="请输入比赛时间" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">用户学院</label>
        <select name="xm" id="xm" lay-verify="required" lay-filter="xmFilter" >
            <option value=""></option>
        </select>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo" id="btn">提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>

<script>

    function closeA(){
        var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
        //layer.msg(index);
        parent.layer.close(index); //再执行关闭
    }


    layui.use('form', function(){
        var form = layui.form;

        $.ajax({
            url: '/getAllColleges',
            dataType: 'json',
            type: 'get',
            success: function (data) {

                $.each(data.Colleges, function (index, item) {
                    $('#xm').append(new Option(item.colleges_name ));// 下拉菜单里添加元素
                    // $(`:contains(${item.colleges_name}`).val(item.colleges_id)
                });
                layui.form.render("select");

//重新渲染 固定写法
            }
        })

        //监听提交
        form.on('submit(formDemo)', function(data){
            console.log(data)
            console.log($('.layui-this').val())

            $.ajax({
                url: '/AddOneUser',
                type: "get",
                dataType: "json",
                data:{uname:data.field.uname,password:data.field.password,sex:data.field.sex,colleges_name:data.field.xm},
                success:function(data){
                    console.log(data.flag)
                    layer.msg('提交成功');

                    // parent.$("#reFresh").click();//通过触发页面局部刷新按钮来刷新父页面更新修改后的表格数据
                }


            });
            closeA()
            return false;
        });
    });
</script>
</body>
</html>
