
<html>
<head>
    <title>添加用户</title>
    <link rel="stylesheet" href="/layui/css/layui.css"  media="all">
        <script type="text/javascript" src="/jquery/jquery-3.4.1.min.js"></script>
<script src="/layui/layui.js" charset="utf-8"></script>
</head>
<body>
<form class="layui-form" action="" style="position: absolute;margin: 20px 0 0 40px">
    <div class="layui-form-item">
        <label class="layui-form-label">用户名称</label>
        <div class="layui-input-inline">
            <input type="text" name="uname" required lay-verify="required" placeholder="请输入用户名称" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">用户密码</label>
        <div class="layui-input-inline">
            <input type="text" name="password" required lay-verify="required" placeholder="请输入用户密码" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">单选框</label>
        <div class="layui-input-block">
            <input type="radio" name="sex" value="男" title="男" checked="">
            <input type="radio" name="sex" value="女" title="女">
            <input type="radio" name="sex" value="其他" title="其他" disabled="">
        </div>
    </div>
    <div class="layui-form-item" style="width:150px">
        <label class="layui-form-label">所属学院</label>
        <div class="layui-input-inline" style="left: 110px;top: -40px">
            <select name="colleges_id" id="xm" lay-verify="required" lay-filter="xmFilterOne" >
                <!--<option value="0" selected="">请选择学院</option>-->
                <!--<option value="2">环境学院</option>-->
                <!--<option value="3" selected>动漫学院</option>-->
                <!--<option value="4">管理学院</option>-->
                <!--<option value="5">电气学院</option>-->
                <!--<option value="6">量化分析学院</option>-->
            </select>
        </div>

        <label class="layui-form-label">用户级别</label>
        <div class="layui-input-inline" style="left: 110px;top: -40px">
            <select name="list" id="stage" lay-verify="required" lay-filter="xmFilterTwo" >
                <option value="1">学生</option>
                <option value="2">教师</option>
                <option value="3">领导</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo" id="btn">提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>

<script>
    //插入数据的函数
    function closeA(){
        var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
        parent.layer.close(index); //再执行关闭
    }
    layui.use('form', function(){
        var form = layui.form;
        var $ = layui.$
        //获取单选框的值
        var radioValue = $("input[type='radio']:checked").val();
        var list = $("#stage option:selected").val();
        console.log(radioValue)
        console.log(list)
        $.ajax({
            url: '/getAllColleges',
            dataType: 'json',
            type: 'get',
            success: function (rs) {
                $.each(rs.Colleges, function (index,item) {
                    $('#xm').append('<option value="'+item.colleges_id+'">'+item.colleges_name+'</option>');// 下拉菜单里添加元素
                });
                form.render();
            }
        })
        var sex
        form.on('radio', function(data){
            console.log(data.value)
            sex = data.value
        });
        //获取下拉菜单value的值
        var colleges_id
        form.on('select(xmFilterOne)', function(data){
            console.log(data.value)
            colleges_id = data.value
        })
    //监听提交
        form.on('submit(formDemo)', function(data){
            console.log(data)
            $.ajax({
                url: '/AddOneUser',
                type: "post",
                dataType: "json",
                data:{uname:data.field.uname,password:data.field.password,sex:sex,colleges_id:colleges_id,list:list},
                success:function(data){
                    console.log(data.flag)
                    layer.msg('提交成功');
                    // parent.$("#reFresh").click();//通过触发页面局部刷新按钮来刷新父页面更新修改后的表格数据
                },
                error:function (err) {
                    console.log(err.message)
                }
            });
            closeA()
            return false;
        });
    });
</script>
</body>
</html>
