<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>添加功能</title>
    <style>
        .layui-layer-content { overflow: visible!important; }
    </style>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="layui/css/layui.css">
    <script src="jquery/jquery-3.4.1.min.js"></script>
    <script src="layui/layui.js"></script>
</head>
<body>
<form class="layui-form" action="" style="margin: 20px 0 0 0px">
    <div class="layui-form-item">
        <label class="layui-form-label">单选框</label>
        <div class="layui-input-block">
            <input type="radio" name="rid" value="1" title="学生">
            <input type="radio" name="rid" value="2" title="教师">
            <input type="radio" name="rid" value="3" title="管理员">
            <input type="radio" name="rid" value="4" title="其他角色" disabled="">
        </div>
    </div>
    <label class="layui-form-label">所有权限</label>
    <div class="layui-input-inline">
        <select name="fname" id="fname" lay-verify="required" lay-filter="functionFilter" class="layui-layer-content" >
            <option value="0" selected="" disabled>请选择权限</option>
            <!--<option value="1">大一上</option>-->
            <!--<option value="2">大一下</option>-->
            <!--<option value="3">大二上</option>-->
            <!--<option value="4">大二下</option>-->
            <!--<option value="5">大三上</option>-->
            <!--<option value="3">大三下</option>-->
            <!--<option value="4">大四上</option>-->
            <!--<option value="5">大四下</option>-->
        </select>
    </div>

    <div class="layui-form-item" style="margin: 40px 0 0 100px">
        <div class="layui-input-block">
            <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">提交</button>
            <button type="reset" class="layui-btn layui-btn-warm">重置</button>
        </div>
    </div>
</form>
<script>
    layui.use('form', function () {
        var form = layui.form, layer = layui.layer,$ = layui.$
        // var radioValue = $("input[type='radio']:checked").val();
        // console.log(radioValue)
        $.ajax({
            url: '/selectAllTheFunction',
            dataType: 'json',
            type: 'get',
            success: function (rs) {
                $.each(rs.data, function (index,item) {
                    $('#fname').append('<option value="'+item.fid+'">'+item.fname+'</option>');// 下拉菜单里添加元素
                });
                form.render();
            }
        })

        var rid
        form.on('radio', function(data){
           rid = data.value
        });
        var fid
        form.on('select(functionFilter)',function (data) {
            fid = data.value
        })

        //监听提交
        form.on('submit(demo1)', function (data) {
            console.log(data)
            var res = $.ajax({url: `/insertRolesFunction`, data: {rid:rid,fid:fid}, async: false})
            if (res.responseText > 0) {
                layer.msg('成功', {icon: 6, time: 2000})
                parent.layer.close(layer.index);
            } else {
                layer.alert('失败',{icon: 2, time: 2000})
                parent.layer.close(layer.index);
            }
        })
    })
</script>
</body>
</html>