<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>用户管理</title>
    <script th:src="@{layui/layui.js}"></script>
    <script th:src="@{jquery/jquery-3.4.1.min.js}"></script>
    <link rel="stylesheet" th:href="@{layui/css/layui.css}">

    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body>

<button class="layui-btn layui-btn-primary" id="addUser">添加用户</button>
<table class="layui-hide" id="test" lay-filter="test"></table>

<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>
        <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>
        <button class="layui-btn layui-btn-sm" lay-event="isAll">验证是否全选</button>

    </div>

</script>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-xs" lay-event="del">删除</a>
</script>


<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
    $(function () {

        layui.use('table', function(){
            var table = layui.table;

            table.render({
                elem: '#test'
                ,url:'/getAllUsers'
                ,toolbar: '#toolbarDemo'
                ,title: '用户数据表'
                ,cols: [
                    [
                    {type: 'checkbox', fixed: 'left'}
                    ,{field:'uid', title:'ID', width:120, sort: true}
                    ,{field:'sex', title:'用户性别', width:100}
                    ,{field:'password', title:'用户密码', width:120}
                    ,{field:'uname', title:'用户名称', width:120,edit: 'text'}
                    ,{field:'colleges_id', title:'所属学院', width:120}
                    ,{fixed: 'right', title:'操作', toolbar: '#barDemo', width:150}
                ]
                ]
                ,page: true
            });

            //头工具栏事件
            table.on('toolbar(test)', function(obj){
                var checkStatus = table.checkStatus(obj.config.id);
                switch(obj.event){
                    case 'getCheckData':
                        var data = checkStatus.data;
                        layer.alert(JSON.stringify(data));
                        break;
                    case 'getCheckLength':
                        var data = checkStatus.data;
                        layer.msg('选中了：'+ data.length + ' 个');
                        break;
                    case 'isAll':
                        layer.msg(checkStatus.isAll ? '全选': '未全选');
                        break;
                };
            });

            //监听行工具事件
            table.on('tool(test)', function(obj){
                var data = obj.data;
                console.log(data)
                if(obj.event === 'del'){
                    layer.confirm('真的删除行么', function(index){
                        obj.del();
                        $.ajax({
                            url: "/deleteOneUser?userId="+data.uid,
                            type:"post",
                            dataType:"json",
                            success: function (res) {
                                alert("删除成功")
                            }
                        })
                        layer.close(index);
                    });
                } else if(obj.event === 'edit'){

                    console.log("修改"+data)
                    layer.prompt({
                        formType: 2
                        ,value: data.name
                    }, function(value, index){
                        console.log(value)
                        $.ajax({
                            url: "/changeOneUser?userId="+data.uid+"&uname="+value,
                            type:"post",
                            dataType:"json",
                            success: function (res) {
                                if(res.flag==="success"){
                                    alert("修改成功")
                                }
                            }
                        })
                        obj.update({
                            name: value
                        });
                        layer.close(index);
                    });
                }
            });
        });


        $('#addUser').on('click', function(){
            layer.open({
                title: '提交用户',
                type: 2,
                skin: 'layui-layer-rim', //加上边框
                area: ['500px', '220px'], //宽高
                content: '/getAddUserPage', //弹出的页面
                shadeClose: true, //点击遮罩关闭

                end: function () {

                    window.location.reload();
                },
                btn:function () {

                }

            });

        });
    })


</script>

</body>
</html>