<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis2.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.evaluate.demo.dao.EvaluateResultDao">
    <insert id="insertEvaluateResult" parameterType="com.evaluate.demo.entity.EvaluateResult">
        INSERT INTO evaluateresult(batch_id,userName,teacherName,courses_name,evaluates_id,totalscore,uid,courses_id,tid)
        VALUES(#{batch_id},#{userName},#{teacherName},#{courses_name},#{evaluates_id},#{totalscore},#{uid},#{courses_id},#{tid})
    </insert>
</mapper>