<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis2.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.evaluate.demo.dao.PeerDao">
    <select id="selectAllPeer" resultType="hashMap">
  SELECT DISTINCT us.uid,us.uname,cs.courses_name,b.batch_name  FROM users us
          INNER JOIN users_teach_courses ut ON us.uid=ut.uid
          INNER JOIN users_batch ub ON us.uid = ub.uid INNER JOIN batch b ON ub.batch_id = b.batch_id
          INNER JOIN courses cs ON ut.courses_id=cs.courses_id WHERE b.batch_name = #{batch_name} AND us.colleges_id = (SELECT colleges_id FROM users WHERE uid=#{uid})
          AND us.uid!=#{uid} ORDER BY us.uid
    </select>
</mapper>