<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis2.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.evaluate.demo.dao.RoleDao">
  <resultMap id="RoleMap" type="com.evaluate.demo.entity.Role">
    <id property="rid" column="rid"></id>
    <result property="rname" column="rname"></result>
  </resultMap>

  <select id="selectAllRole" resultType="HashMap">
    SELECT u.uid,u.uname,r.rname FROM roles r
        INNER JOIN users_roles ur ON r.rid=ur.rid
        INNER JOIN users u ON ur.uid=u.uid LIMIT #{before},#{after}
  </select>

    <select id="count" resultType="int">
         SELECT count(*) FROM roles r
        INNER JOIN users_roles ur ON r.rid=ur.rid
        INNER JOIN users u ON ur.uid=u.uid
    </select>

    <update id="updateRole" parameterType="com.evaluate.demo.entity.UserRole">
        UPDATE users_roles SET rid = #{rid} WHERE uid=#{uid}
    </update>


    <!--查询所有的用户-->
    <select id="selectAllTheUsers" resultType="com.evaluate.demo.entity.User">
        select * from users
    </select>
    <!--查询所有的用户角色-->
    <select id="selectAllTheUsersRoles" resultType="com.evaluate.demo.entity.UserRole">
        select * from users_roles
    </select>

    <!--给用户授予角色-->
    <insert id="insertUserRole" parameterType="com.evaluate.demo.entity.UserRole">
        insert into users_roles(uid,rid) values(#{uid},#{rid})
    </insert>


</mapper>