<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis2.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.evaluate.demo.dao.StatisticsDao">
    
    <select id="selectWordCloudData" resultType="com.evaluate.demo.entity.Statistics">
        SELECT * FROM users u INNER JOIN statistics s ON u.uid = s.uid
        INNER JOIN evaluates e ON s.evaluates_id = e.evaluates_id
        ORDER BY s.score
    </select>
</mapper>