<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis2.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.evaluate.demo.dao.TargetDao">
    <select id="selectTarget" resultType="com.evaluate.demo.entity.Target">
        SELECT * FROM targets
    </select>

    <select id="selectEvaluate" resultType="com.evaluate.demo.entity.Evaluates">
        SELECT * FROM evaluates
    </select>

    <select id="selectFaTarget" resultType="com.evaluate.demo.entity.Target">
        SELECT * FROM targets where father_targets_id in (1)
    </select>

    <select id="selectChildrenTarget" resultType="com.evaluate.demo.entity.Target">
        SELECT * FROM targets where father_targets_id not in (0,1)
    </select>

    <!--<select id="getTreeLists" resultType="com.evaluate.demo.entity.Target">-->
        <!--SELECT * FROM targets where targets_id = #{tid}-->
    <!--</select>-->

    <select id="selectTitle" resultType="com.evaluate.demo.entity.Target">
          SELECT * FROM targets WHERE targets_id=#{tid}
    </select>

    <update id="updateTarget" >
          UPDATE  targets	SET targets_name = #{tname},targets_weight = #{tweight} WHERE targets_id = #{tid}
    </update>


    <delete id="deleteTarget">
        DELETE FROM targets WHERE targets_id = #{tid}
    </delete>


    <insert id="insertTarget">
        INSERT INTO targets(targets_name,father_targets_id,url,targets_weight) VALUES (#{targets_name},#{father_targets_id},#{url},#{targets_weight})
    </insert>

    <!--//插入试卷和指标-->
    <insert id="insertEvaluateTarget">
        INSERT INTO evaluates_targets(evaluates_id,targets_id) VALUES (#{evaluates_id},#{targets_id})
    </insert>


</mapper>