<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis2.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.evaluate.demo.dao.UserDao">
  <resultMap id="UserMap" type="com.evaluate.demo.entity.User">
    <id property="uid" column="uid"></id>
    <result property="uname" column="uname"></result>
    <result property="password" column="password"></result>
    <result property="sex" column="sex"></result>
    <result property="colleges_id" column="colleges_id"></result>
  </resultMap>

  <!--通过分页查询所有用户-->
  <select id="findAllPage" resultType="HashMap">
         SELECT * FROM users u INNER JOIN colleges c ON u.colleges_id = c.colleges_id LIMIT #{before},#{after} ;
    </select>
  <select id="count" resultType="int">
        SELECT count(*) FROM users u INNER JOIN colleges c ON u.colleges_id = c.colleges_id
    </select>

  <!--增加一个用户-->
  <insert id="insertOneUser" parameterType="com.evaluate.demo.entity.User">
    insert into users(uname,password,sex,colleges_id,list) values (#{uname},#{password},#{sex},#{colleges_id},#{list})
  </insert>

  <!--删除一个用户-->
  <delete id="deleteOneUser" parameterType="int">
        delete from users where uid=#{uid}
   </delete>

  <!--更改一个用户-->
  <update id="updateOneUser" >
    update users
    <set>
      <if test="uname!=null">
        uname= #{uname},
      </if>
    </set>
    where uid = #{uid}
  </update>

  <select id="selectAllColleges" resultType="com.evaluate.demo.entity.Colleges">
    select * from colleges
  </select>

  <select id="selectCollegeId" resultType="com.evaluate.demo.entity.Colleges">
    select * from colleges where colleges_name = #{colleges_name}
  </select>

  <!--查询所有老师-->
  <select id="selectAllTheTeacher" resultType="com.evaluate.demo.entity.User">
         SELECT * FROM users where list in (2,3);
    </select>
</mapper>